* {
    text-align: center;
}

h1 {
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
}

li {
    font-style: italic;
    line-height: 2em;
    text-decoration: line-through;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}
